:root {
  --bg-color: white;
  --font-color: black;
  --btn-color: #357ac8;
  --card-bg-color: #ffffff;
  --nav-btn-color: #e4e6eb;
}

[data-theme="dark"] {
  --bg-color: black;
  --font-color: white;
  --btn-color: #6a6a6a;
  --card-bg-color: #373737;
  --nav-btn-color: #6a6a6a;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.container {
  background-color: var(--card-bg-color);
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  height: 360px;
}

.navigation {
  display: flex;
  gap: 1.5px;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.navigation span {
  cursor: pointer;
  padding: 6px 12px;
  background-color: var(--nav-btn-color);
  border-radius: 6px;
  font-weight: 500;
}

.section {
  margin-top: 60px;
}

.section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--font-color);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkbox-group label,
.radio-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--btn-color);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #357ac8;
}

.navlinks {
  text-decoration: none;
  color: inherit;
}
